*{
	box-sizing: border-box;
	text-align: center;
	background-color: #777;
	/* background-color: #070202; */
	margin: auto;
		
}
.container {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	width: 960px;
	
	
}
header {
	margin-bottom: 10px;
	background-color: #ebebeb;
	/* background-color: rgb(4, 253, 46); */
	color: #777;
	height: 80px;
	
}
nav {
	margin-bottom: 10px;
	background-color: #ebebeb;
	/* background-color: rgba(3, 89, 248, 0.925); */
	color: #777;
	height: 80px;
}

.full{
	/*Section*/
	background-color: #ebebeb;
	/* background-color: rgba(238, 14, 14, 0.925); */
	color: #777;
	margin-right: 10px;
	height: 300px;
	width: 495px;
	float: left;
	position: relative;
}

article{
	background-color: #777;
	/* background-color: rgba(252, 174, 6, 0.993); */
	color: #ebebeb;
	position: absolute;
	top: 70px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}
#inside-header {
	/*h1,h2,etc*/
	background-color: #ebebeb;
	color: #777;
	position: absolute;
	top: 110px;
	left: 20px;
	right: 20px;
	bottom: 120px;
	font-weight: bold;
	/* background-color: darkkhaki; */
}
#inside-text {
	/*Article and h1,p*/
	background-color: #ebebeb;
	color: #777;
	position: absolute;
	top: 80px;
    left: 0px;
    right: 0px;
	bottom: -100px;
	font-weight: normal;
	/* background-color: rgb(243, 12, 108); */
}
 
aside {
	margin-bottom: 10px;
	background-color: #ebebeb;
	/* background-color: #f7bf08; */
	color: #777;
	float: left;
	height: 300px;
	width: 455px;
	}
footer {
	padding: auto;
	background-color: #ebebeb;
	/* background-color: #3b0303; */
	color: #777;
	clear: both;
	height: 80px;
}